
html{

  background-image: url('../images/bgoption.jpg');
  
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

header{
  
text-align: left;
width: 100%;

}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
  }
  

  h1, p {
    margin: 10px;
  }
  
 
  ul {
    list-style-type: none;
    padding: 0;
  }
  

  li {
    margin: 5px;
  }
  
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
  }
  
 
  tr.head {
    background-color: #f2f2f2;
  }
  

  th {
    padding: 8px;
    text-align: left;
  }
  
 
  tr {
    background-color: #fff;
  }
  
 
  tr.even {
    background-color: #f2f2f2;
  }
  
 
  td {
    padding: 8px;
    text-align: left;
  }
  
 
  form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  

  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
 
  legend {
    font-weight: bold;
    backgroun
  }
  
 
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 
  input[type="text"], select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  
  input[type="radio"] {
   vertical-align: middle;
    margin-right: 10px;
    
  }


form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s; 
}


form:hover {
  background-color: #f2f2f2; 
}

  